<a href="https://colab.research.google.com/github/Muhammad-Shafay-Khan/DHCPProject/blob/main/44632.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World")
print("")
print("Assalamualaikum my name is shafay")

Hello World

Assalamualaikum my name is shafay

In [ ]:
x = input("Enter your name")
print(x)

Enter your name Shafay
 Shafay

In [ ]:
# Write a python program to print the details of your best friend
# Name, Age, Interest, Nationality
n = input("Enter best friends name: ")
print(n)
a = input("Enter his age: ")
print(a)
I = input("Enter interest of your best friend: ")
print(I)
N = input("Enter best friends nationality: ")
print(N)

Enter best friends name:  Hussain
 Hussain
Enter his age: 21
21
Enter interest of your best friend: being a doctor
being a doctor
Enter best friends nationality: Pakistani
Pakistani

In [ ]:
n= input("Enter your name: ")
a = input("Enter your age: ")
i = input("Enter interest: ")
N = input("Enter your nationality: ")
print("Name: ", n)
print("Age: ", a)
print("Interest: ", i)
print("Nationality: ", n)

Enter your name: Shafay
Enter your age: 21
Enter interest: computers
Enter your nationality: Pakistani
Name:  Shafay
Age:  21
Interest:  computers
Nationality:  Shafay

In [ ]:
x = int(input("Enter number: "))
if x%2 == 0:
  print("Number is even")
else:
    print("Number is odd")

Enter number: 34
Number is even

In [ ]:
def greeting():
  print("Assalamualaikum")

In [ ]:
greeting()

Assalamualaikum

In [ ]:
def odd_even(n):
  if n % 2 == 0:
    print("Number is even")
  else:
    print("Number is odd")

In [ ]:
odd_even(45)

Number is odd

In [ ]:
def user_details():
  x = input("Enter your name: ")
  print(x)
  y = input("Enter your interest: ")
  print(y)
  a = input("Enter your age:")
  print(a)
  N = input("Enter your nationality: ")
  print(N)

In [ ]:
for i in range(0,11):
 print(i)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
x=int(input("enter number"))
for i in range(1,11):
 print(i,"*",x,"=",i*x)

enter number5
1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50

In [ ]:
#prime number

In [ ]:
def is_prime(x)
 if x==0 or x==1:
  return 0

  for i in range (2,x):
    if x%i==0:
      return 0

    return 1

In [ ]:
x = int(input("Enter a number: "))

if is_prime(x) == 0:
  print("Number is prime")
else:
  print("Number is not prime")

In [ ]:
def is_prime(n):
    if n < 2:
        return 0
    for j in range(2, int(n**0.5) + 1):
        if n % j == 0:
            return 0
    return 1


count = 1
for i in range(2, 100):
    if is_prime(i) == 1:
        print(count, "\t", i)
        if count >= 20:
            break
        count += 1

1 	 2
2 	 3
3 	 5
4 	 7
5 	 11
6 	 13
7 	 17
8 	 19
9 	 23
10 	 29
11 	 31
12 	 37
13 	 41
14 	 43
15 	 47
16 	 53
17 	 59
18 	 61
19 	 67
20 	 71